<html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Авторизация</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>  
        <link rel = "{% static "main.css" %}">
    </head>
    <body>
        <div class="section"></div>
        <main>
            <center>
            <div class="section"></div>

            <h5 class="indigo-text">Авторизация</h5>
            <div class="section"></div>

            <div class="container">
                <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

                <form class="col s12">
                    <div class='row'>
                    <div class='col s12'>
                    </div>
                    </div>

                    <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='text' id='login' name='login' />
                        <label for='login'>Логин</label>
                    </div>
                    </div>

                    <div class='row'>
                    <div class='input-field col s12'>
                        <input class='validate' type='password' name='password' id='password' />
                        <label for='password'>Пароль</label>
                    </div>
                        <label style='float: right;'>
                            <a class='pink-text' href='#!'><b>Забыли пароль?</b></a>
                        </label>
                    </div>

                    <br />
                    <center>
                    <div class='row'>
                        <button type='button' id='btn_login' class='col s12 btn btn-large waves-effect' style='background-color:steelblue'>Войти</button>
                    </div>
                    </center>
                </form>
                </div>
            </div>
            </center>
        </main>
        {% csrf_token %}
        <script>
            const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $("#btn_login").click(function() {
                let login = $("#login").val()
                let password = $("#password").val()

                $.ajax({
                    url: "{{ scheme }}://{{ domain }}/web/auth/",
                    type: "POST",
                    data: {
                        login: login,
                        password: password,
                    },
                    success: success,
                });
            });

            function success(data) {
                console.log(data)
                if (data["ok"]) {
                    window.location.href = "/web/panel/new/";
                } else {
                    $("#login").removeClass("valid").addClass("invalid");
                    $("#password").removeClass("valid").addClass("invalid");
                }
            }
        </script>
    </body>
</html>