<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <title>IdeaBot</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
</head>
<body>
    <!-- Header-Navbar -->
    <nav style="background-color:steelblue" class="nav-extended">
        <div class="nav-wrapper">
            <a style="margin-left:2%" href="#" class="brand-logo left">IdeaBot</a>
            <a style="margin-right:2%" href="/web/logout/" class="log-field right">Log Out</a>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
            <li class="tab"><a href="/web/panel/new/">New Ideas</a></li>
            <li class="tab"><a href="/web/panel/in_process/">In process</a></li>
            <li class="tab"><a href="/web/panel/performed/">Performed</a></li>
            <li class="tab"><a href="/web/panel/rejected/">Rejected</a></li>
            </ul>
        </div>
    </nav>

    <center>
        <h4>
        {% if category_code == 1 %}
            New ideas
        {% elif category_code == 2 %}
            In process ideas
        {% elif category_code == 3 %}
            Performed ideas
        {% elif category_code == -1 %}
            Rejected ideas
        {% endif %}
        </h4>
    </center>

    <!--New Ideas-->
    <div id="new_ideas">
        <div class="row">
            <div class="col s1"></div>
            <div class="col s9">
                <ul class="collapsible">
                        <li class="active">
                            <div class="collapsible-header"><b>#{{ idea.id }}. </b> <span style="margin-left: 1%;">{{ idea.title }}</span></div>
                            <div class="collapsible-body">
                                <p><b>Description: </b> {{ idea.description }}</p>
                                <p><b>User: </b> {{idea.user.first_name}} {{idea.user.last_name}} (@{{idea.user.username}})</p>
                                <div class="row">
                                    <form class="col s12">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <textarea id="comment{{ idea.id }}" class="materialize-textarea comment-textarea" autocomplete="off">{{ idea.comments }}</textarea>
                                                <label for="comment{{ idea.id }}">Comment...</label>
                                            </div>
                                        </div>
                                    </form>
                                    
                                    <form action="#">
                                        <span>
                                            <label>
                                                <input type="checkbox" id = 'accept{{ idea.id }}' idea-id='{{idea.id}}' class = 'accept-checkbox idea-checkbox' {% if category_code == 2 %} checked="checked" disabled="disabled" {% endif %} />
                                                <span>Accept</span>
                                            </label>
                                        </span>
                    
                                        <span>
                                            <label>
                                                <input type="checkbox" id = 'reject{{ idea.id }}' idea-id='{{idea.id}}' class = 'reject-checkbox idea-checkbox' {% if category_code == -1 %} checked="checked" disabled="disabled" {% endif %}/>
                                                <span style="margin-left:2%">Reject</span>
                                            </label>
                                        </span>

                                        <span>
                                            <label>
                                                <input type="checkbox" id = 'done{{ idea.id }}' idea-id='{{ idea.id }}' class = 'done-checkbox idea-checkbox' {% if category_code != 2 %} disabled="disabled" {% endif %} {% if category_code == 3 %} checked="checked" {% endif %}/>
                                                <span style="margin-left:2%">Done</span>
                                            </label>
                                        </span>
                                        <span>
                                            <button style="margin-left:3%; background-color:steelblue" type='button' idea-id='{{ idea.id }}' class='btn waves-effect waves-light update-idea-button'>
                                                Submit <i class="material-icons right">send</i>
                                            </button>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </li>
                </ul>
            </div>
            <div class="col s1"></div>
        </div>
    </div>


    
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
        });

        $(document).ready(function() {
            $('.collapsible').collapsible();
        });

        // For comment section
        $(document).ready(function() {
            $('input#input_text, textarea#textarea2').characterCounter();
            $(".accept-checkbox").attr('checked', false);
            $(".reject-checkbox").attr('checked', false);
            $(".done-checkbox").attr('checked', false);
        });
    </script>
    {% csrf_token %}
    <script>
        const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $('.accept-checkbox').click(function () { 
            let ideaId = this.getAttribute('idea-id')
            console.log(ideaId)
            $("#reject"+ideaId).attr('checked', false);
            $("#done"+ideaId).attr('checked', false);
        });
        $('.reject-checkbox').click(function () {  
            let ideaId = this.getAttribute('idea-id')
            console.log(ideaId)
            $("#accept"+ideaId).attr('checked', false);
            $("#done"+ideaId).attr('checked', false);
        });
        $('.done-checkbox').click(function () { 
            let ideaId = this.getAttribute('idea-id')
            console.log(ideaId)
            $("#reject"+ideaId).attr('checked', false);
            $("#accept"+ideaId).attr('checked', false);
        });

        $(".update-idea-button").click(function() {
            let ideaId = this.getAttribute('idea-id')
            let comment = $("#comment"+ideaId).val()
            let rejectCheckbox = $("#reject"+ideaId).is(":checked")
            let acceptCheckbox = $("#accept"+ideaId).is(":checked")

            if ((!acceptCheckbox && !rejectCheckbox) || (acceptCheckbox && rejectCheckbox)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Select application status',
                })                
                return;
            }

            if (comment == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Comment input is empty',
                })      
                return;
            }

            let status = -1;
            if (acceptCheckbox) {
                status = 2
            } 

            $.ajax({
                url: "/web/updateIdea/",
                type: "POST",
                data: {
                    idea_id: ideaId,
                    comment: comment,
                    status: status,
                },
                success: success,
            });
        })

        function success(data) {
            console.log(data)
            if (data["ok"]) {
                Swal.fire(
                    'Good job!',
                    'Decision made',
                    'success'
                )
                setTimeout(() => { 
                    window.location.reload();
                }, 2000);
            } else {
                console.log(data);
            }
        }
    </script>
</body>
</html>
