<b>Your ideas:</b>
{% for idea in ideas %}{% if idea.status != 0 %}<u>#{{ idea.id }}.</u> {{ idea.title }} - <i>{% if idea.status == 0 %}editing{% elif idea.status == 1 %}sent{% elif idea.status == -1 %}rejected{% elif idea.status == 2 %}in progress{% elif idea.status == 3 %}performed{% endif %}</i>{% endif %}
{% endfor %}