<b>Idea</b>
<i>Title: </i> {{ idea.title }}
<i>Description: </i> {{ idea.description }}
<i>Participation: </i>{% if idea.participation %}Yes{% else %}No{% endif %}
<i>Team: </i>{% if idea.team %}Yes{% else %}No{% endif %}

<b>User information</b>
<i>Name: </i> {{ user.first_name }} {{ user.last_name }}
<i>Alias: </i> @{{ user.username }}

To set idea status you can open idea page: {{ scheme }}://{{ domain }}/web/idea/{{ idea.id }}/
Don't forget to log in first: {{ scheme }}://{{ domain }}/web/auth
